{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="span1" style="padding-top: 1em;"><img src="{{ MEDIA_URL }}{{ channel.logo }}" /></div>
    <div class="span9">
        <h4><a href="/channel/{{ channel.id }}">{{ channel.name }}</a></h4>
        <p>{{ channel.description }}<br />
        创建者：<a href="/pilot/{{ channel.creator.id }}/">{{ channel.creator.username }}</a> | 
        管理员：{% for u in channel.managers.all %}<a href="/pilot/{{ u.id }}/">{{ u.username }}</a> {% endfor %} | 
        编辑：{% for u in channel.editors.all %}<a href="/pilot/{{ u.id }}/">{{ u.username }}</a> {% empty %}无{% endfor %}</p>
    </div>
    <div class="clearfix"></div>
</div>

{% block more_content %}{% endblock %}
{% endblock %}