{% extends 'channel_base.html' %}

{% block title %}{{ topic.title }}{% endblock %}

{% load markup %}
{% load emotion %}

{% block more_content %}
<div class="display_topic">
<table width="100%">
<caption>{{ topic.title }}</caption>
{% for p in posts %}
<tr>
    <td rowspan="2" width="15%">
        <p><img src="{{ MEDIA_URL }}{{ p.author.gravatar }}" /><br />
        <strong><a href="/pilot/{{ p.author.id }}/">{{ p.author.username }}</a></strong><br />
        经验：{{ p.author.experience }} 点<br />
        财富：{{ p.author.wealth }} ISK<br />
        积分：{{ p.author.scores }} 分<br /></p>
    </td>
    <td width="85%" class="post_cell">
        <div class="post_content">{{ p.content | markdown:"safe" | emotion }}{% ifequal p.create_time p.update_time %}{% else %}<p class="post_modify_note">[{{ p.author }} 于 {{ p.update_time | date:"Y-m-d H:i"}} 修改了帖子内容]</p>{% endifequal %}</div>
    </td>
</tr>
<tr>
    <td class="end_post">
        <div style="text-align: left;">{% if p.author.signature %}<hr>{{ p.author.signature | markdown:"safe" | emotion }}{% endif %}</div><div>{% ifequal p.author.username user.username %}<a href="/community/post/edit/{{ p.id }}/">编辑</a> |
        {% endifequal %}{% ifequal p.floor 0 %}楼主{% else %}{{ p.floor}}楼{% endifequal %} | {{ p.create_time | date:"Y-m-d H:i" }}</div>
    </td>
</tr>

{% endfor %}
</table>
</div>
{% if user.is_authenticated %}
<div class="user_action">
    <p><a href="/channel/{{ channel.id }}/" class="btn">返回帖子列表</a> <a href="#" class="btn" onclick="$('#reply_form').show(); return false;">我要回复</a></p>
</div>
<div id="reply_form" class="row">
  <div class="span8">
    <form action="/community/post/new/" method="post">{% csrf_token %}
        <input type="hidden" name="topic_id" value="{{ topic.id }}" />
        <p><label>回复内容：</label><textarea id="editor" name="content" class="reply_textarea"></textarea></p>
        <p><input type="submit" value="回复" class="btn" /> <a href="#" class="btn" onclick="$('#reply_form').hide(); return false;">算了不说了</a></p>
    </form>
  </div>
  {% include 'editor.html' %}
</div>
{% endif %}
{% endblock %}