{% extends 'channel_base.html' %}

{% block title %}{{ topic.title }}{% endblock %}

{% load ecFilters %}

{% block more_content %}
<div class="topic_display">
<table width="100%">
<caption>{{ topic.title }}</caption>
{% for p in posts %}
<tr>
    <td class="post_author" rowspan="2">
        <p><img src="{{ MEDIA_URL }}{{ p.author.gravatar }}" /><br />
        <strong><a href="/pilot/{{ p.author.id }}/">{{ p.author.username }}</a></strong><br />
        经验：{{ p.author.experience }} 点<br />
        财富：{{ p.author.wealth }} ISK<br />
        积分：{{ p.author.scores }} 分<br /></p>
    </td>
    <td class="post_body">
        <div class="post_content">{{ p.content | markdown }}{% ifequal p.create_time p.update_time %}{% else %}<p class="post_modify_note">[{{ p.update_author }} 于 {{ p.update_time | date:"Y-m-d H:i"}} 修改了帖子内容]</p>{% endifequal %}</div>
    </td>
</tr>
<tr>
    <td class="post_footnote">
        <div class="post_signature">{% if p.author.signature %}{{ p.author.signature | markdown }}{% endif %}</div>
        <div class="post_actions"><a href="#" onclick="reply({{ p.floor }},{{ p.id }});return false;">回复</a> | {% ifequal p.author.username user.username %}<a href="/community/post/edit/{{ p.id }}/">编辑</a> |
        {% endifequal %}{% ifequal p.floor 0 %}楼主{% else %}{{ p.floor}}楼{% endifequal %} | {{ p.create_time | date:"Y-m-d H:i" }}</div>
    </td>
</tr>
{% endfor %}
</table>
{% if page_flag %}
<div id="page_list">
  <p>页码：{% for p in page_range %}<a href="/topic/{{topic.id}}/{% ifnotequal p 1%}p{{p}}/{% endifnotequal %}">{{p}}</a> {% endfor %}</p>
</div>
{% endif %}
</div>
{% if user.is_authenticated %}
<div class="user_action">
    <p><a href="/channel/{{ channel.id }}/" class="btn btn-success">返回帖子列表</a> <a href="#" class="btn btn-primary" onclick="$('#reply_form').show(); return false;">我要回复</a></p>
</div>
<div id="reply_form" class="row">
  <div class="span8">
    <form id="editor_form" action="/community/post/new/" method="post">{% csrf_token %}
        <input type="hidden" name="topic_id" value="{{ topic.id }}" />
        <p><label>回复内容：</label><textarea id="editor" name="content" class="reply_textarea"></textarea></p>
        <p><input type="submit" value="回复" class="btn btn-primary" /> <a href="#" type="reset" class="btn btn-inverse">重置</a></p>
    </form>
  </div>
  {% include 'editor.html' %}
</div>
{% endif %}
{% endblock %}