/* Global settings */
body {
  padding-top: 50px;
  font-size: 14px;
  font-family: "Trebuchet MS", "Helvetica Neue", Helvetica, SimSun, Arial, sans-serif;
  color: #000;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Trebuchet MS", "Helvetica Neue", Helvetica, "Microsoft YaHei", Arial, SimHei, sans-serif;
  line-height: 150%;
}
hr {
  margin: 10px 0;
}
footer {
  text-align: center;
}

/* 顶部导航 */
#global_navbar .brand {
  color: #FFF;
  font-weight: bold;
}
#global_navbar_catalog li a {
  color: #EEE;
  font-size: 1.2em;
  font-family: "Trebuchet MS", "Helvetica Neue", Helvetica, "Microsoft YaHei", Arial, SimHei, sans-serif;
  font-weight: bold;
  padding: 10px;
}
#global_navbar_profile li a.dropdown-toggle, #global_navbar_login li a {
  color: #FFF;
  background: #2C2C2C;
  padding: 10px;
}
#global_navbar_profile_menu {
  min-width: 100px;
  background: #EEE;
}
.caret {
  margin-left: 5px;
}
.dropdown-menu .divider {
  border-bottom: 1px solid #ACACAC;
}

#server_error_notice {
  padding-top: 40px;
}

/* 社区页面 */
#channel_logo {
  padding-top: 1em;
}
#channel_description {
  font-size: 12px;
}
#channel_description h4 a {
  color: #000;
}
table, th, td {
  border: 1px solid #DDD;
}
table {
  margin-bottom: 1em;
}
.topic_list table td {
  text-align: center;
}
.topic_list table tr.odd {
  background: #F6F6FF;
}
.topic_list table tr.even {
  background: #FFF;
}
.topic_list_header {
  font-size: 12px;
}
.topic_list td {
  padding: 3px 2px;
}
.topic_list_status {
  width: 6%;
  font-size: 12px;
}
.odd td.topic_list_title, .even td.topic_list_title {
  text-align: left;
}
.topic_list_header td.topic_list_title {
  text-align: center;
}
.topic_list_title a {
  color: #06F;
}
.topic_list_author {
  width: 13%;
  font-size: 12px;
}
.topic_list_last_reply {
  width: 13%;
  font-size: 12px;
}
.topic_list_clicks {
  width: 5%;
  font-size: 12px;
}
.topic_list_replies {
  width: 5%;
  font-size: 12px;
}
.display_topic {
}

.display_topic caption {
  text-align: left;
  font-family: "Trebuchet MS", "Helvetica Neue", Helvetica, "Microsoft YaHei", Arial, SimHei, sans-serif;
  font-size: 1.5em;
  font-weight: bolder;
  padding: 0.5em 0 0.5em 0;
}

.display_topic td {
    vertical-align: top;
}

.display_topic .post_cell {
  border-bottom: 0;
}

.display_topic .end_post {
    height: 1.5em;
    text-align: right;
    vertical-align: bottom;
    border-top: 0;
}

.post_content {
}

.post_content img.emotion_ac {
    width: 75px;
    height: 65px;
    vertical-align: bottom;
}

.post_modify_note {
    padding: 1em 2em;
    color: #777;
}

#reply_form {
    display: none;
}

.reply_textarea {
    width: 40em;
    height: 10em;
}

#edit_form {
    display: none;
}

.position {
    color: #000;
}
.position:hover {
    text-decoration: none;
    color: #000;
}

.topic_title_input {
    width: 40em;
}



#emotion_selector img {
  width: 50px;
  height: 43px;
}

#emotion_selector .emotion_selector_page {
  border: 1px solid #000;
  width: 282px;
  padding: 3px;
}

.upload_iframe {
  width: 270px;
  height: 100px;
  border: 0;
}