/* Global settings */
body {
  padding-top: 50px;
  font-size: 14px;
  font-family: "Trebuchet MS", "Helvetica Neue", Helvetica, SimSun, Arial, sans-serif;
  color: #000;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Trebuchet MS", "Helvetica Neue", Helvetica, "Microsoft YaHei", Arial, SimHei, sans-serif;
  line-height: 150%;
}
hr {
  margin: 10px 0;
}
footer {
  text-align: center;
}
blockquote p {
  font-size: 14px;
}

/* 顶部导航 */
#global_navbar .brand {
  color: #FFF;
  font-weight: bold;
}
#global_navbar_catalog li a {
  color: #EEE;
  font-size: 1.2em;
  font-family: "Trebuchet MS", "Helvetica Neue", Helvetica, "Microsoft YaHei", Arial, SimHei, sans-serif;
  font-weight: bold;
  padding: 10px;
}
#global_navbar_profile li a.dropdown-toggle, #global_navbar_login li a {
  color: #FFF;
  background: #2C2C2C;
  padding: 10px;
}
#global_navbar_profile_menu {
  min-width: 100px;
  background: #EEE;
}
.caret {
  margin-left: 5px;
}
.dropdown-menu .divider {
  border-bottom: 1px solid #ACACAC;
}

#server_error_notice {
  padding-top: 40px;
}

/* 社区页面 */
#channel_logo {
  padding-top: 1em;
}
#channel_description {
  font-size: 12px;
}
#channel_description h4 a {
  color: #000;
}
table, th, td {
  border: 1px solid #DDD;
}
table {
  margin-bottom: 1em;
}
.topic_list table td {
  text-align: center;
}
.topic_list table tr.odd {
  background: #F6F6FF;
}
.topic_list table tr.even {
  background: #FFF;
}
.topic_list_header {
  font-size: 12px;
}
.topic_list td {
  padding: 3px 2px;
}
.topic_list_status {
  width: 6%;
  font-size: 12px;
}
.odd td.topic_list_title, .even td.topic_list_title {
  text-align: left;
}
.topic_list_header td.topic_list_title {
  text-align: center;
}
.topic_list_author {
  width: 13%;
  font-size: 12px;
}
.topic_list_last_reply {
  width: 13%;
  font-size: 12px;
}
.topic_list_clicks {
  width: 5%;
  font-size: 12px;
}
.topic_list_replies {
  width: 5%;
  font-size: 12px;
}


/* 主题 */
.topic_display caption {
  text-align: left;
  font-family: "Trebuchet MS", "Helvetica Neue", Helvetica, "Microsoft YaHei", Arial, SimHei, sans-serif;
  font-size: 1.5em;
  font-weight: bolder;
  padding: 0.5em 0 0.5em 0;
}

.topic_display td {
    vertical-align: top;
    padding: 7px;
}
.topic_display .post_author {
  width: 15%;
}
.topic_display .post_body {
  border-bottom: 0;
}
.topic_display .post_footnote {
  vertical-align: bottom;
  border-top: 0;
}
.topic_display .post_footnote .post_signature {
  margin-right: 4em;
  border-top: 1px dashed #AAA;
}
.topic_display .post_footnote .post_actions {
  text-align: right;
  font-size: 12px;
}
.topic_display .post_body .post_content img.emotion_ac {
    width: 75px;
    height: 65px;
    vertical-align: bottom;
}
.post_modify_note {
    padding: 1em 2em;
    color: #777;
}
#reply_form {
  display: none;
}
#editor_enhancer {
  font-size: 12px;
}
#editor_enhancer label, #editor_enhancer input {
  font-size: 12px;
}
#editor_enhancer img {
  font-size: 12px;
  width: 52px;
  height: 43px;
}
#editor_enhancer .nav-tabs li a {
  padding: 4px 8px;
}
#editor_enhancer_content {
  margin-top: -20px;
  border: 1px solid #DDD;
  border-top: 0;
  padding: 6px;
}
.reply_textarea {
  width: 43em;
  height: 15em;
}
.position {
    color: #000;
}
.position:hover {
    text-decoration: none;
    color: #000;
}
.topic_title_input {
    width: 43em;
}
.upload_iframe {
  width: 270px;
  height: 70px;
  border: 0;
}

#upload_img_page {
  margin: 0;
  padding: 0;
  font-size: 12px;
}
#upload_img_page input, #upload_img_page .btn {
  font-size: 12px;
}