<!DOCTYPE html>
<html lang="zh">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <title>EveClub {% block title%}{% endblock %}</title>
  <!-- Le styles -->
  <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
  <link href="{{ STATIC_URL }}css/eveclub.css" rel="stylesheet">
  {% for css in extra_css %}<link href="{{ STATIC_URL }}css/{{ css }}" rel="stylesheet">{% endfor %}
  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>
<div id="global_navbar" class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">EveClub</a>
        <ul id="global_navbar_catalog" class="nav pull-left">
          <li><a href="/community/">社区</a></li>
          <li><a href="/about/">关于</a></li>
        </ul>
        {% if user.is_authenticated %}
        <ul id="global_navbar_profile" class="nav pull-right">
          <li class="active"><a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user.username }} <span class="caret"></span></a>
            <ul id="global_navbar_profile_menu" class="dropdown-menu">
              <li><a href="/pilot/profile/">个人档案</a></li>
              <li class="divider"></li>
              <li><a href="/pilot/logout/">注销登录</a></li>
            </ul>
          </li>
        </ul>
        {% else %}
        <ul id="global_navbar_login" class="nav pull-right">
          <li><a href="/pilot/signup/">注册</a></li>
          <li><a href="/pilot/login/">登录</a></li>
        </ul>
        {% endif %}
    </div>
  </div>
</div>
<div class="container">
{% block content %}{% endblock %}
<hr>
<footer>
&copy; EveClub Develop Group 2012-2013
</footer>
</div>
<script src="http://lib.sinaapp.com/js/jquery/1.9.1/jquery-1.9.1.min.js"></script>
<script src="http://lib.sinaapp.com/js/bootstrap/2.3.1/js/bootstrap.min.js"></script>
{% for js in extra_js %}<script src="{{ STATIC_URL }}js/{{ js }}"></script>{% endfor %}
{% if stat_js %}<script type="text/javascript">
{{ stat_js | safe }}</script>{% endif %}
</body>
</html>
